#number-guess, #result, #history {
    max-width: 400px;
    margin: 0 auto;
}

#history {
    margin-top: 16px;
}
  
.banner {
    color: green;
    font-size: 95px;
    font-family: sans-serif;
    font-weight: bold;
}